a.skipnav {
	@include rem(11);
	display: block;
	padding: 5px 20px;
	color: $gray-600;
}

/* make images full width */
img.full {
	display: block;
	height: auto;
	width: 100%;
}

body {
	position: relative;
	font-family: 'IBM Plex Mono', monospace;
}

.paddingTop {
	padding-top: calc(45% - 250px);
}
